.App{
  padding: 10px 30px;
  border: 2px solid brown;
  border-radius: 10px;
  background-color: burlywood;
  color:crimson;
  margin: 50px 200px;
  font-size:xx-large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
#var{
  border: 2px solid #eee;
  font-size: xx-large;
  color: darkred;
  background-color: aqua;
  border-radius: 15px;
  padding: 15px;
  margin: 0px 400px;
  font-weight: 800;
  font-family:Arial, Helvetica, sans-serif
}
h1{
  text-align: center;
}
center h1 ,h3{
color: darkgreen;
line-height: 0.5rem;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
font-style: oblique;
}
.btn{
  height: 25px;
  width: 120px;
  color:antiquewhite;
  background-color: blue;
  padding: 20px;
  padding-top: 12px;
  border: 2px solid red;
  border-radius: 25px;
  text-align: justify;
  font-style: oblique;
  font-weight: bolder;
}
#btn-container{
  
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  padding-left: 130px;
  padding-top: 80px;
}
.btn:hover{
  background-color:green;
  cursor: pointer;
  color:darkorange;
  border:2px solid blue;
}
